@page "/EditCurso/{CurrentID}"
@using CassioJhones.Data
@inject CursosService _objCursoService
@inject NavigationManager _objNavigationManager

<h2>Editar Curso</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Id" disabled class="form-control" @bind="@objCurso.Id" />
            </div>

            <div class="form-group">
                <label for="TituloCurso" class="control-label">Curso</label>
                <input form="TituloCurso" class="form-control" @bind="@objCurso.TituloCurso" />
            </div>
            <div class="form-group">
                <label for="Cidade" class="control-label">Cidade</label>
                <input form="Cidade" class="form-control" @bind="@objCurso.Cidade" />
            </div>
            <div class="form-group">
                <label for="Estado" class="control-label">Estado</label>
                <input form="Estado" class="form-control" @bind="@objCurso.Estado" />
            </div>
            <div class="form-group">
                <label for="Dia" class="control-label">Dia</label>
                <input form="Dia" class="form-control" @bind="@objCurso.Dia" />
            </div>
            <div class="form-group">
                <label for="Online" class="control-label">Online</label>
                <input form="Online" class="form-control" @bind="@objCurso.Online" />
            </div>
            <div class="form-group">
                <label for="Valor" class="control-label">Valor</label>
                <input form="Valor" class="form-control" @bind="@objCurso.Valor" />
            </div>
            <div class="form-group">
                <label for="MediaAprovacao" class="control-label">Media</label>
                <input form="MediaAprovacao" class="form-control" @bind="@objCurso.MediaAprovacao" />
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateCurso" value="Atualizar" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</form>
@code {
    [Parameter] public string CurrentId { get; set; }
    Curso objCurso = new Curso();
    protected override async Task OnInitializedAsync()
    {
        objCurso = await Task.Run(() => _objCursoService.GetCursoById(Convert.ToInt32(CurrentId)));
    }
    protected void UpdateCurso()
    {
        _objCursoService.UpdateCurso(objCurso);
        _objNavigationManager.NavigateTo("cursos");
    }
    void Cancel()
    {
        _objNavigationManager.NavigateTo("cursos");
    }
}